<div class="container"><br><br>
<h2>Editer le profil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :mot_de_passe %> <i>(Laissez vide si vous ne souhaitez pas le modifier)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <i><%= @minimum_password_length %> caractères minimum</i>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Confirmation_du_mot_de_passe %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Mot_de_passe_actuel %> <i>(pour sauvegarder vos changements)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Se désincrire</h3>

<i>Vous souhaitez vous désinscrire? <%= button_to "Désinscription", registration_path(resource_name), data: { confirm: "Vous êtes sur?" }, method: :delete %></i>

<%= button_to "Revenir à l'accueil", :back%>
</div>

