<div class="container">
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @partner.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @partner.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @partner.image_url %>
</p>

<p>
  <strong>Link to:</strong>
  <%= @partner.link_to %>
</p>

<%= link_to 'Back', partners_path %>
</div>
