<%# Navbar administrateur  %> 
<%#  la notice est commune à toute les pages   %> 
<div class="container">
   <div class="row">

      <!-- Blog entries-->

      <p id="notice"><%= notice %></p>
      <h1>Articles</h1>
      <div class="col-lg-8">
      
         <% @articles.each do |article| %>
         <div class="card mb-4">
                 <%= image_tag article.image_url, size: 840*200 %>
               <div class="card-body">
                  <div class="small text-muted b"><%= article.created_at %></div>
                  <h2 class="card-title b"><%= article.title.html_safe %></h2>
                  <p class="card-text b"><%=  truncate(article.content.html_safe, length:100) %></p>
                  <a><%= link_to "Lire la suite →", article, class:"btn btn-primary" %></a>
               </div>
            <br>
            <!-- End of the loop -->
         </div>
         <% end %>
      </div>
      <div class="col-lg-4">

         <!-- Search widget-->

         <div class="card border-light mb-4" style="max-width: 18rem;" >
            <div class="card-header b">Dernières publications</div>
           
            <div class="card-body b">
                <% @articles.each do |article| %>
                <tr>
                <td>	<a href="<%= article_path(article.id) %>"><%= article.title %> </td>
                </tr><br><br>
                <% end %>
            </div>
         </div>

         <!-- Categories widget-->

         <div class="card mb-4" style="max-width: 18rem;">
            <div class="card-header b">Categories</div>
            <div class="card-body">
               <div class="row">
                  <div class="col-sm-6">
                     <ul class="list-unstyled mb-0">
                        <li><a href="#!">Les seniors du Carami</a></li>
                        <li><a href="#!">George Clooney en bikini</a></li>
                        <li><a href="#!">Des gargouillis toute la nuit</a></li>
                     </ul>
                  </div>
                  <div class="col-sm-6">
                     <ul class="list-unstyled mb-0">
                        <li><a href="#!">Enzo a perdu son parapluie</a></li>
                        <li><a href="#!">Avec le CSS fini l'ennui</a></li>
                        <li><a href="#!">Quel glitch nous attends aujourd'hui</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>

         <!-- Side widget-->

         <div class="card mb-4" style="max-width: 18rem;">
            <div class="card-body b">
              <%= image_tag (Partner.all.sample).image_url, size: 100*50 %>
            </div>
         </div>
         <div class="card mb-4" style="max-width: 18rem;">
            <div class="card-body b">
              <%= image_tag (Partner.all.sample).image_url, size: 100*50 %>
            </div>
         </div>
         <div class="card mb-4" style="max-width: 18rem;">
            <div class="card-body b">
              <%= image_tag (Partner.all.sample).image_url, size: 100*50 %>
            </div>
         </div>
         <!-- Partners display-->
      </div>
   </div>
</div>