 <%# Navbar administrateur  %> 
 <%#  la notice est commune à toute les pages   %> 
<div class="container">
   <div class="row">
      <!-- Blog entries-->
      <p id="notice"><%= notice %></p>
      <h1>Articles</h1>
      <div class="col-lg-8">
         <!-- Featured blog post-->
             
   
         <div class="card mb-4">
         <% @articles.each do |article| %>
            <a href="#!"><%= image_tag article.image_url, class:"card-img-top" %></a>
            <div class="card-body">
               <div class="small text-muted b">January 1, 2022</div>
               <h2 class="card-title b"><%= article.title %></h2>
               <p class="card-text b"><%= article.content %></p>
               <a><%= link_to "Lire →", article, class:"btn btn-primary" %></a>
            </div>
            
            <% end %>
         </div>
      </div>
   </div>
</div>
