<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong><u>Titre :</u></strong>
    <%= @article.title %>
  </p>

  <p>
    <strong><u>Categorie :</u></strong>
    <%= @article.category %>
  </p>

  <p>
    <%= image_tag @article.image_url %>
  </p>

  <p>
    <%= @article.content %>
  </p>
  
  <%= render partial: "comments/comments", locals: {commented_on: @article, parent: nil} %>
  <% if current_user && current_user.subscriber %>
    <%= render partial: "comments/form", locals: {commented_on: @article, parent: nil} %>
  <% end %>
  <br>
  <%= button_to "Retour à l'accueil", articles_path, class:"btn btn-light" %>
</div>
