<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Titre :</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Categorie :</strong>
    <%= @article.category %>
  </p>

  <p>
    <strong>Illustration :</strong>
    <%= image_tag @article.image_url %>
  </p>

  <p>
    <strong>Contenu :</strong>
    <%= @article.content %>
  </p>

  <%= render partial: "comments/comments", locals: {commented_on: @article} %>
  <%= render partial: "comments/form", locals: {commented_on: @article} %>

  <%= link_to "Commenter", new_article_comment_path(@article) %>
  <%= link_to "Modifier", edit_article_path(@article) %> |
  <%= link_to "Retour", articles_path %>
</div>
