<div class="container">
  <p id="notice"><%= notice %></p>

  <h3 class="text-center">
    <strong><%= @article.title %></strong>  
  </h3>

  <p>
    <strong><u>Categorie :</u></strong>
    <%= @article.category %>
  </p>

  <p>
    <%= image_tag @article.image_url %>
  </p>

  <p>
    <%= @article.content %>
  </p>
  
  <%= render partial: "comments/comments", locals: {commented_on: @article, parent: nil} %>
  <% if current_user && current_user.subscriber %>
    <%= render partial: "comments/form", locals: {commented_on: @article, parent: nil} %>
  <% end %>
  <br>
  <%= link_to "Retour à l'accueil", articles_path, class:"btn btn-light" %>
</div>
