<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, value="Evenement" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, value="Résultat" %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :category, value="Catégorie" %>
    <%= form.text_field :category %>
  </div>

  <div class="actions">
    <%= form.submit value="Valider le résultat" %>
  </div>
<% end %>
