<div class="container">
<p id="notice"><%= notice %></p>
<h1>Evénements</h1>

	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
		<% @events.each do |event| %>
		<div class="col">
			<div class="card shadow-sm">
				<%= image_tag event.image_url, size:"600x680", class:" card-img-top" %>
        <%#
				<div class="card-body">
					<p class="card-text b">
						<%= event.category %>
            <%#
					</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<button type="button" class="btn btn-sm btn-outline-secondary">
								<a href="<%= link_to "Voir l'événement", event %><%#">👉 <%= event.title %> <%#</a>
              <%#
							</button>
						</div>
					</div>
				</div>
         %>
			</div>
		</div>
		<% end %>
	</div>
</div>