<div class="container">
<p>
  <strong>Titre :</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Categorie :</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Illustration :</strong>
  <%= @event.image_url %>
</p>

<%= link_to 'Modifier', edit_event_path(@event) %> |
<%= link_to 'Retour', events_path %>
</div>
