<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Titre :</strong>
    <%= @event.title %>
  </p>

  <p>
    <strong>Categorie :</strong>
    <%= @event.category %>
  </p>

  <p>
    <%= image_tag @event.image_url %>
  </p>

  <%= render partial: "comments/comments", locals:{commented_on: @event} %>

  <% if current_user && current_user.subscriber || current_user && current_user.admin %>
  <%= render partial: "comments/form", locals:{commented_on: @event} %>
  <%= link_to "Commenter", event_comments_path(@event, parent: nil) %>
  <% end %>

  <%= link_to 'Retour', events_path %>
</div>
