<div class="container">
  <%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

    <ul>
      <% album.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="field">
    <%= form.label :title, value = "Titre :" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :category, value = "Catégorie :" %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :link_to, value = "Lien de l'album :" %>
    <%= form.text_field :link_to %>
  </div>

  <div class="field">
    <%= form.label :image_url, value = "Illustration :" %>
    <%= form.text_field :image_url %>
  </div>

  <div class="actions">
    <%= form.submit value = "Créer album" %>
  </div>
  <% end %>
</div>
