<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Titre :</strong>
    <%= @album.title %>
  </p>

  <p>
    <strong>Categorie :</strong>
    <%= @album.category %>
  </p>

  <p>
    <strong>Voir l'album :</strong>
    <%= @album.link_to %>
  </p>

  <p>
    <strong>Illustration :</strong>
    <%= @album.image_url %>
  </p>

  <%= link_to 'Modifier', edit_album_path(@album) %> |
  <%= link_to 'Retour', albums_path %>
</div>
