<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Titre :</strong>
    <%= @album.title %>
  </p>

  <p>
    <strong>Categorie :</strong>
    <%= @album.category %>
  </p>

  <p>
    <%= image_tag @album.image_url %>
  </p>

  <p>
    <strong>Voir l'album :</strong>
    <%= @album.link_to %>
  </p>

  <%= render partial: "comments/comments", locals: {commented_on: @album} %>
  <% if current_user && current_user.subscriber || current_user && current_user.admin %>
  <%= render partial: "comments/form", locals: {commented_on: @album} %>
  <%= link_to "Commenter", album_comments_path(@album) %>
  <% end %>

  <%= link_to 'Retour', albums_path %>
</div>
