<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @album.category %>
</p>

<p>
  <strong>Link to:</strong>
  <%= @album.link_to %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @album.image_url %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
