<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Titre :</strong>
    <%= @album.title %>
  </p>

  <p>
    <strong>Categorie :</strong>
    <%= @album.category %>
  </p>

  <p>
    <strong>Voir l'album :</strong>
    <%= @album.link_to %>
  </p>

  <p>
    <strong>Illustration :</strong>
    <%= @album.image_url %>
  </p>

  <%= render partial: "comments/comments", locals:{commented_on: @album} %>
  <%= render partial: "comments/form", locals:{commented_on: @album} %>

  <%= link_to "Commenter", album_comments_path(@album) %>
  <%= link_to 'Modifier', edit_album_path(@album) %> |
  <%= link_to 'Retour', albums_path %>
</div>
