<footer class="bd-footer py-4 mt-4 bg-light">
  <div class="container">
      <div class="row">
        
        <div class="col-12 col-lg-4 offset-lg-1 mb-3">
          <h5>Team</h5>
          <ul class="list-unstyled ">
            <li>
              <i class="fab fa-github icon text-danger"></i>
              <%= link_to "Loïs Kouninef", "https://github.com/LoisKOUNINEF", class:"footerlink" %>
            </li>
            <li>
              <i class="fab fa-github icon text-danger"></i>
              <%= link_to "Damian Pierre", "https://github.com/Teacher-droid", class:"footerlink" %>
            </li>
            <li>
              <i class="fab fa-github icon text-danger"></i>
              <%= link_to "Enzo Bonnet", "https://github.com/enzostk", class:"footerlink" %>
            </li>
          </ul>
        </div>


        <div class="col-12 col-lg-4 offset-lg-1 mb-3">
          <h5>Contact</h5>
            <ul class="list-unstyled">
              <li>
                lebrignolaissportif@gmail.com
              </li>
            </ul>

            <ul class="social-links icon-content list-unstyled">
              <li><%= link_to image_tag('icone/footer-lbs.png'), root_path %></li>
                <%= link_to 'https://www.facebook.com/profile.php?id=100069786000800'  do%>
                  <i class="fab fa-facebook-f"></i>
                <%end %>
                <%= link_to 'https://twitter.com/lbs83170', class:"" do%>
                  <i class="fab fa-twitter"></i>
                <%end %>
            </ul>
        </div>
     
        <div class="col-12 col-lg-10 offset-lg-1 mb-3 mt-lg-4">
          <h5 class="copyright">© 2021 - 2022 Le Brignolais Sportif. All Rights Reserved. Powereb by 3MA</h5>
        </div>

      </div>
  </div>
</footer>



