<header class="p-3 pg-nav ">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to "Actualités", articles_path , class:"btn btn-nav2 btn-card me-3 my-1"%>
      <%= link_to "Résultats", results_path , class:"btn btn-nav2 btn-card me-3 my-1"%>
      <%= link_to "Agenda", events_path , class:"btn btn-nav2 btn-card me-3 my-1"%>
      <%= link_to "Albums", albums_path , class:"btn btn-nav2 btn-card me-3 my-1"%>
      <%= link_to "Associations", clubs_path , class:"btn btn-nav2 btn-card me-3 my-1"%>
      <%= link_to "Partenaires", partners_path , class:"btn btn-nav2 btn-card me-3 my-1"%>
      <%= link_to "Le journal", journal_path , class:"btn btn-nav2 btn-card me-3 my-1"%>
      <%= link_to "Contacts",contact_path, class:"btn btn-nav2 btn-card me-3 my-1"%>
    </div>
  </div>
</header>
